/* Page */
html, body {
    margin: 0;
    overflow: auto;
    height: 100%;
}

/* Background */
body {
    background: url('../img/desk-surface.jpg') fixed;
    background-size: auto 100%;
}

@media (min-width: 1280px) {
    body {
        background: url('../img/mouse-papers-cup.png') no-repeat top right fixed, url('../img/desk-surface.jpg') fixed;
        background-size: auto, auto 100%;
    }
}

/* Page footer */
#phonebook-html {
    padding-bottom: 52px;
}

#phonebook-well {
    margin-bottom: 0;
}

/* Bootstrap Well */
.container {
    width: 100%;
}

body > .container, .well {
    top: 18px;
}

@media (min-width: 992px) {
    .well {
        position: absolute;
    }

    #phonebook-well {
        left: 150px;
        width: 70%;
        min-height: 95%;
        padding-bottom: 52px;
    }

    #contact-well, #import-well {
        left: 250px;
        width: 50%;
    }

    /* Nav Footer */
    .navbar-fixed-bottom {
        height: 52px;
        width: 70%;
        left: 150px;
    }
}

/* Bootstrap Well footer*/
.panel-footer {
    padding-bottom: 0;
}

/* Well header */
.page-header {
    margin-top: 0;
    padding-bottom: 0;
}

h1 {
    margin: 0;
    padding: 5px;
}

/* Table */
table {
    table-layout: fixed;
}

.table > thead > tr > th {
    vertical-align: top;
}

tbody tr {
    cursor: pointer;
}

td {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

/* Buttons */
#edit-contact-button, #edit-done-button, #delete-contact-button {
    display: none;
}

/* Bootstrap Tooltips */
.tooltip.top .tooltip-inner {
    border: 1px solid #D43F3A;
}

.tooltip.top .tooltip-arrow {
    border-top-color: #D43F3A;
}

.tooltip-inner {
    white-space: pre;
    max-width: none;
}

.tooltip.bottom .tooltip-inner {
    text-align: left;
}

/* Location */
@media (max-width: 1188px) {
    #location-label {
        padding-top: 0;
    }
}